<!-- <p>user works!</p>
<p>Inside the user Section</p>

<p>{{ counter }}</p>
<p>Name :{{ name }}</p> -->

<!-- <ul>
  @for (user of users; track user.id; let i = $index) {
    <li>{{ i + 1 }}. {{ user.name }}</li>
  } @empty {
    <p>No users found.</p>
  }
</ul>
 -->

<!-- @switch (userRole) {
  @case ('admin') {
    <p>Welcome, Admin! You have full access.</p>
  }
  @case ('editor') {
    <p>Welcome, Editor! You can edit posts.</p>
  }
  @case ('viewer') {
    <p>Welcome! You have read-only access.</p>
  }
  @default {
    <p>Unknown role. Please contact support.</p>
  }
 -->

<h1>This is the User Section!</h1>
<h3>User :{{ name }}</h3>
<h3>Counter :{{ counter }}</h3>
