<!-- <h1>Angular Practise</h1>

  <ul>
   <li *ngFor="let x of students">
    <a *ngIf="x == 'Anil'">Hello , {{ x }}</a>
    {{ x }}
  </li>
</ul> -->

<!-- <div>
  <app-user></app-user>
</div> -->
<!-- 
<div>
  <button (click)="updateCounter()">Inc</button>
  <div *ngIf="counter != 5">
    <app-user [counter]="counter" ></app-user>
  </div>
  <p>{{ counter }}</p>
</div> -->

<!-- <div>
  <app-members></app-members>
</div> -->

<!-- <div>
  <h1>This is the Main Component</h1>
  <app-input-output-decorator user="Mayank kumar" > </app-input-output-decorator>
</div> -->

<!-- <div>
  <h1>This is the Main Component</h1>
  <app-directives></app-directives>
</div> -->

<!-- <div>
  <app-reactive-forms></app-reactive-forms>
</div> -->

<!-- <div>
  <app-two-way-data-binding></app-two-way-data-binding>
</div> -->

<!-- <div>
  <app-template-driven-froms></app-template-driven-froms>
</div> -->

<!-- <div>
  <app-custom-directive></app-custom-directive>
</div> -->

<h1>Custom Directive</h1>

<p appHighlight>Hello working on the custom directive</p>
